<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wsw.wswserver.mapper.PermissionMapper" >
  <resultMap id="BaseResultMap" type="com.wsw.wswserver.entity.Permission" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="pid" property="pid" jdbcType="INTEGER" />
    <result column="type" property="type" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="code" property="code" jdbcType="VARCHAR" />
    <result column="uri" property="uri" jdbcType="VARCHAR" />
    <result column="seq" property="seq" jdbcType="INTEGER" />
    <result column="createUser" property="createUser" jdbcType="VARCHAR" />
    <result column="createTime" property="createTime" jdbcType="DATE" />
    <result column="updateUser" property="updateUser" jdbcType="VARCHAR" />
    <result column="updateTime" property="updateTime" jdbcType="DATE" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, pid, type, name, code, uri, seq, createUser, createTime, updateUser, updateTime
  </sql>
  <select id="findByUserId" resultMap="BaseResultMap">
    select * from sys_permission where id=#{id}
  </select>

</mapper>